.page {
  font-family: $default-font;
  color: $primary-color;
  font-size: $font-size;
  background-color: $background-color;
  font-weight: 400;
}

.page__body {
  min-width: 320px;
  margin: 0 0;
  padding: 0 0;
}
